---
default_language_version:
  python: python3
repos:
  - repo: local
    hooks:
      # Prevent committing .rej files
      - id: forbidden-files
        name: Forbidden files
        entry: Found Copier update rejection files; review them and remove them
        language: fail
        files: \.rej$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/myint/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        name: Format docstrings
        args: [--in-place, --wrap-summaries=88, --wrap-descriptions=88]
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.18.0
    hooks:
      - id: yamlfix
        name: Fix YAML
        exclude: docker-compose.*
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Lint shell scripts
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        name: Format markdown
        args: [--number]
        additional_dependencies:
          - mdformat-gfm
          - mdformat-tables
          - mdformat_frontmatter
          - mdformat-toc
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        args: [--line-length=119]
        exclude: docs/source
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        name: Check and fix with Ruff
        args: [--fix]
      - id: ruff-format
        name: Format with Ruff
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Check word spelling
        additional_dependencies: [tomli]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: Clear notebook cells
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-ruff
        name: Format notebooks with Ruff
        args: [--line-length=119]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      - id: uv-lock
        name: Ensure uv.lock is up-to-date
        files: ^pyproject\.toml$
